<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZM1W5ZYTJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-VZM1W5ZYTJ');
  </script>

  <title>
    <%= title %>
  </title>

  <link rel="canonical" href="https://chili.redbuilder.dev" />

  <meta name="robots" content="noindex, nofollow" />
  <meta name="googlebot" content="noindex, nofollow" />
  <meta name="googlebot-news" content="noindex, nofollow" />
  <meta name="googlebot-image" content="noindex, nofollow" />
  <meta name="googlebot-video" content="noindex, nofollow" />
  <meta name="googlebot-mobile" content="noindex, nofollow" />

  <meta name="language" content="en" />
  <meta name="country" content="ZA" />
  <meta name="geo.country" content="ZA" />
  <meta name="geo.placename" content="Johannesburg" />
  <meta name="geo.region" content="Gauteng" />
  <meta name="geo.position" content="-26.2041;28.0473" />
  <meta name="ICBM" content="-26.2041, 28.0473" />

  <link rel="apple-touch-icon" href="icons/icon.png" />

  <link rel="apple-touch-icon" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="167x167" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="32x32" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="29x29" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="16x16" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="128x128" href="icons/icon.png" />
  <link rel="apple-touch-icon" sizes="96x96" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" />

  <link rel="apple-touch-startup-image" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="152x152" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="180x180" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="167x167" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="120x120" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="76x76" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="114x114" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="72x72" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="144x144" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="60x60" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="57x57" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="32x32" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="29x29" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="16x16" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="128x128" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="96x96" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="64x64" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="48x48" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="36x36" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="24x24" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="20x20" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="18x18" href="icons/icon.png" />
  <link rel="apple-touch-startup-image" sizes="15x15" href="icons/icon.png" />

  <!-- Favicons -->

  <link rel="shortcut icon" href="build.ico" />
  <link rel="icon" href="build.ico" />
  <link rel="icon" type="image/png" sizes="192x192" href="icons/icon.png" />
  <link rel="icon" type="image/png" sizes="128x128" href="icons/icon.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="icons/icon.png" />
  <link rel="icon" type="image/png" sizes="64x64" href="icons/icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="icons/icon.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="icons/icon.png" />
  <link rel="icon" type="image/png" sizes="24x24" href="icons/icon.png" />
  <link rel="icon" type="image/png" sizes="20x20" href="icons/icon.png" />
  <link rel="icon" type="image/png" sizes="18x18" href="icons/icon.png" />
  <link rel="icon" type="image/png" sizes="15x15" href="icons/icon.png" />
  <link rel="icon" type="image/png" sizes="12x12" href="icons/icon.png" />

  <!-- Pinned Sites -->
  <meta name="application-name" content="Invent in Red" />
  <meta name="msapplication-tooltip" content="Invent in Red" />
  <meta name="msapplication-starturl" content="app.html" />
  <meta name="msapplication-window" content="width=1024;height=768" />
  <meta name="msapplication-navbutton-color" content="#000000" />
  <meta name="msapplication-square-0-5" content="icons/icon.png" />
  <meta name="msapplication-square-1-5" content="icons/icon.png" />
  <meta name="msapplication-square-3-tiles" content="icons/icon.png" />
  <meta name="msapplication-square-70x70logo" content="icons/icon.png" />
  <meta name="msapplication-square-150x150logo" content="icons/icon.png" />
  <meta name="msapplication-wide310x150logo" content="icons/icon.png" />
  <meta name="msapplication-square310x310logo" content="icons/icon.png" />
  <meta name="msapplication-TileColor" content="#000000" />
  <meta name="msapplication-TileImage" content="icons/icon.png" />
  <meta name="msapplication-config" content="browserconfig.xml" />

  <meta name="Author" content="Martin Myburgh" />
  <meta name="Copyright" content="Apache License 2.0" />
  <meta name="Keywords" content="<%= keywords %>" />
  <meta name="Subject" content="<%= subject %>" />
  <meta name="Description" content="<%= description %>" />

  <meta property="og:url" content="<%= ogurl %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= ogtitle %>" />
  <meta property="og:description" content="<%= ogdescription %>" />
  <meta property="og:image" content="https://chili.redbuilder.dev/icons/icon.png" />
  <meta property="og:site_name" content="<%= ogtitle %>" />
  <meta property="og:locale" content="en_US" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@chili" />
  <meta name="twitter:creator" content="@chili" />
  <meta name="twitter:title" content="Invent in Red" />
  <meta name="twitter:description" content="From unlikely friends to lovers for life!" />
  <meta name="twitter:image" content="https://chili.redbuilder.dev/icons/icon.png" />
  <meta name="twitter:image:alt" content="Invent in Red" />

  <meta name="theme-color" content="#000000" />
  <meta name="msapplication-navbutton-color" content="#000000" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="Invent in Red" />
  <meta name="msapplication-tooltip" content="Invent in Red" />
  <meta name="msapplication-starturl" content="a.html" />
  <meta name="msapplication-window" content="width=400;height=768" />

  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="400" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="date=no" />
  <meta name="format-detection" content="address=no" />
  <meta name="format-detection" content="email=no" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-title" content="<%= title %>" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-title" content="<%= title %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <link rel="manifest" href="manifest.json" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="container">

    <iframe title="view" class="view" id="view" src="<%= frame1url %>" referrerpolicy="no-referrer" loading="eager"
      allow="geolocation *; camera *; microphone *; midi *; cross-origin *; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; allowpaymentrequest;"
      allowfullscreen></iframe>

    <menu class="menu">

      <button class="menu__item active" style="--bgColorItem: <%= bgcolour1 %>;">
        <svg class="icon" viewBox="0 0 24 24">
          <path d="M3.4,11.9l8.8,4.4l8.4-4.4" />
          <path d="M3.4,16.2l8.8,4.5l8.4-4.5" />
          <path d="M3.7,7.8l8.6-4.5l8,4.5l-8,4.3L3.7,7.8z" />
        </svg>
      </button>

      <button class="menu__item" style="--bgColorItem: <%= bgcolour2 %>;">
        <svg class="icon" viewBox="0 0 24 24">
          <path d="M6.7,4.8h10.7c0.3,0,0.6,0.2,0.7,0.5l2.8,7.3c0,0.1,0,0.2,0,0.3v5.6c0,0.4-0.4,0.8-0.8,0.8H3.8
            C3.4,19.3,3,19,3,18.5v-5.6c0-0.1,0-0.2,0.1-0.3L6,5.3C6.1,5,6.4,4.8,6.7,4.8z" />
          <path d="M3.4,12.9H8l1.6,2.8h4.9l1.5-2.8h4.6" />
        </svg>
      </button>

      <button class="menu__item" style="--bgColorItem: <%= bgcolour3 %>;">
        <svg class="icon" viewBox="0 0 24 24">
          <path d="M5.1,3.9h13.9c0.6,0,1.2,0.5,1.2,1.2v13.9c0,0.6-0.5,1.2-1.2,1.2H5.1c-0.6,0-1.2-0.5-1.2-1.2V5.1
              C3.9,4.4,4.4,3.9,5.1,3.9z" />
          <path d="M4.2,9.3h15.6" />
          <path d="M9.1,9.5v10.3" />
        </svg>
      </button>

      <button class="menu__item" style="--bgColorItem: <%= bgcolour4 %>;">
        <svg class="icon" viewBox="0 0 24 24">
          <path d="M5.1,3.9h13.9c0.6,0,1.2,0.5,1.2,1.2v13.9c0,0.6-0.5,1.2-1.2,1.2H5.1c-0.6,0-1.2-0.5-1.2-1.2V5.1
              C3.9,4.4,4.4,3.9,5.1,3.9z" />
          <path d="M5.5,20l9.9-9.9l4.7,4.7" />
          <path
            d="M10.4,8.8c0,0.9-0.7,1.6-1.6,1.6c-0.9,0-1.6-0.7-1.6-1.6C7.3,8,8,7.3,8.9,7.3C9.7,7.3,10.4,8,10.4,8.8z" />
        </svg>
      </button>

      <div class="menu__border"></div>
      <button class="menu__item" style="--bgColorItem: <%= bgcolour5 %>;">
        <svg class="icon" viewBox="0 0 24 24">
          <path d="M3.8,6.6h16.4" />
          <path d="M20.2,12.1H3.8" />
          <path d="M3.8,17.5h16.4" />
        </svg>
      </button>

    </menu>
    <div class="svg-container">
      <svg viewBox="0 0 202.9 45.5">
        <clippath id="menu" clippathunits="objectBoundingBox" transform="scale(0.0049285362247413 0.021978021978022)">
          <path d="M6.7,45.5c5.7,0.1,14.1-0.4,23.3-4c5.7-2.3,9.9-5,18.1-10.5c10.7-7.1,11.8-9.2,20.6-14.3c5-2.9,9.2-5.2,15.2-7
              c7.1-2.1,13.3-2.3,17.6-2.1c4.2-0.2,10.5,0.1,17.6,2.1c6.1,1.8,10.2,4.1,15.2,7c8.8,5,9.9,7.1,20.6,14.3c8.3,5.5,12.4,8.2,18.1,10.5
              c9.2,3.6,17.6,4.2,23.3,4H6.7z" />
        </clippath>
      </svg>
    </div>
  </div>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js');
    }
  </script>
  <script src="script.js"></script>
</body>

</html>